# 忽略数据集文件
data/

# 忽略MACOS系统文件
.DS_Store

# 忽略临时文件
*.tmp
*.swp
*.bak

# 忽略日志文件
log/
logs/

# 忽略缓存文件
cache/
.cached/

# 忽略编译生成的文件
build/
dist/
target/

# 忽略IDE和编辑器生成的文件
.idea/
.vscode/
*.iml
*.ipr
*.iws

# 忽略依赖文件
node_modules/
vendor/

# 忽略jupyter notebook文件
.ipynb